.select {
  @include textBase();
  @include fontRegular();
  width: fit-content;
  height: fit-content;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease;
  border: 2px solid $borderPrimary;
  outline: none;

  &:focus {
    outline: none;
    border: 2px solid $borderInput;
  }
}
