:root {
  --bg: #3f4869;
  --y: #f4da64;
  --r: #e25c57;
}

/* Canvas */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
  background: var(--bg);
}
.stage {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

/* Shapes */
.half {
  position: absolute;
  width: 180px; /* circle diameter = 180 */
  height: 90px; /* semicircle height  */
}
.y {
  background: var(--y);
}
.r {
  background: var(--r);
}

/* positions */
.half.y {
  left: 70px;
} /* centers at 160px */
.half.r {
  left: 150px;
} /* centers at 240px (80px offset) */

.top {
  top: 60px;
  border-radius: 90px 90px 0 0;
}
.bot {
  top: 150px;
  border-radius: 0 0 90px 90px;
}

/* layering to create the interlocking notches */
.on-top {
  z-index: 1;
}
