.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.half {
  position: absolute;
  width: 180px;
  height: 90px;
}

.y {
  background: #f4da64;
}
.r {
  background: #e25c57;
}

.half.y {
  left: 70px;
}
.half.r {
  left: 150px;
}

.top {
  top: 60px;
  border-radius: 90px 90px 0 0;
}
.bot {
  top: 150px;
  border-radius: 0 0 90px 90px;
}

.on-top {
  z-index: 1;
}
