// PRIMARY COLORS
$borderPrimary: #d3d3d3;
$borderSecondary: #000000;
$borderInput: #357ec7;

// BACKGROUND COLORS
$bgPrimary: #ebf0f2;
$bgSecondary: #ffffff;
$bgCard: #75147c;

//  TEXT COLORS
$textPrimary: #ffffff;
$textSecondary: #000000;
$textTertiary: #808080;
