// Add all the color constants here for scss files

// BACKGROUND COLORS
$bgDefault: #ffffff;
$bgWhite: #ffffff;
$bgPrimary: #000000;

$bgLightSubtle: #f5f5f5;
$bgSubtle: #ebebeb;
$bgDarkSubtle: #666666;

$bgHover: #9d9d9d;
$bgDarkHover: #d9d9d9;
$bgDisabled: #e0e0e0;
$bgActive: #fafafa;

$bgDanger: #e14942;
$bgSuccess: #3eaf3f;

$bgTextField: #cfcfcf;

// BORDER COLORS
$borderLightSubtle: #eaeaea;
$borderSubtle: #cfcfcf;
$borderDarkSubtle: #666666;
$borderSecondary: #c9c9c9;

// FONT COLORS
$textDefault: #000000;
$textWhite: #ffffff;
$textDisabled: #9a9a9a;
