// GLOBAL STYLES
@use "./Normalize.scss";

:global {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: $bgPrimary;

    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    color: $textPrimary;
    @include fontFamily($fontPrimary);
    @include textBase();
    @include fontRegular();

    ::selection {
      color: $textPrimary;
      background: $primary;
    }
  }

  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
  }
  #root {
    background: $bgPrimary;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: $bgSecondary;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 8px;
}
