.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
}

.rowAligned {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
