.dayCardsContainer {
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 96%;
  padding: 16px;
  background-color: $bgCard;
  border-radius: 12px;
  border: 1px solid $borderPrimary;
}
