.container {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 208px;
  background-color: $bgSecondary;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $textPrimary;
  @include textLg();
  text-transform: uppercase;
  padding: 8px 16px;
  max-height: 44px;
  background-color: $bgCard;
}

.cardBodyContainer {
  flex: 1;
  display: grid;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 0 0 4px 4px;
  border: 2px solid $borderSecondary;
}

.cardBodyContainerEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $borderPrimary;
}
