.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.dayCardsContainer {
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 96%;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
}

.formContainer {
  display: flex;
  gap: 12px;
}

.goButton {
  width: 100px;
  height: 40px;
  padding: 0 16px;
  background-color: $bgPrimary;
  color: $textWhite;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
