.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.formContainer {
  display: flex;
  width: 100%;
  gap: 40px;
}

.startProcessingButton {
  width: 100px;
  height: 48px;
  padding: 0 16px;
  border-radius: 8px;
  background-color: $bgSecondary;
  border: 2px solid $borderPrimary;
  cursor: pointer;
  @include textSm();
  @include fontMedium();
}
