.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  min-height: 100vh;
  width: 100%;
  padding: 40px 20px;
}

.dayCardsContainer {
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
}

.formContainer {
  display: flex;
  width: 100%;
  gap: 12px;
}

.goButton {
  width: 100px;
  height: 40px;
  background-color: $bgPrimary;
  color: $textWhite;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
